@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.navbar-brand {
  font-family: Exo, sans-serif;
}

.small_contact {
  position: fixed;
  width: 100%;
  height: 30px;
  background-color: #202020;
  z-index: 1000;
  top: 0;
  padding-top: 7px;
}

.address_details {
  display: flex;
  float: right;
  margin-right: 10%;
}

.address_details img {
  margin-right: 10px;
}

.address_details p {
  color: #cdcdcd;
}

.address_details_email {
  display: flex;
  float: right;
  margin-right: 30px;
}

.address_details_email p {
  color: #cdcdcd;
}

.address_details_email img {
  margin-right: 10px;
}

.free_nav:hover {
  background-color: #7e6c3e;
  color: white;
}

.navbar {
  z-index: 100;
  top: 30px;
}

.collapse {
  margin-top: 10px;
}

.navbar-brand img {
  width: 160px;
  height: auto;
  margin-top: -14px;
}

@media screen and (max-width: 1058px) {
  .navbar-brand img {
    width: 120px;
    margin-top: 15px;
  }
  .address_details {
    margin-right: 5%;
  }
}

@media screen and (max-width: 420px) {
  .small_contact p {
    font-size: 12px;
  }
  .small_contact img {
    height: 15px;
  }
}

@media screen and (max-width: 321px) {
  .small_contact p {
    visibility: hidden;
  }
  .small_contact img {
    visibility: hidden;
  }
}

.navbar .nav {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar-inverse {
  background-color: #202020;
}

.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>li>a:hover {}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #202020;
}

.dropdown-menu {
  background-color: #202020;
}

.dropdown-images {
  visibility: visible;
  float: left;
  background-color: #202020;
  height: auto;
  width: 150px;
  text-align: center;
}

.image-line {
  width: 2px;
  height: 30px;
  margin: auto;
  background-color: hsla(0, 0%, 96.1%, 0.1);
}

.hover-line {
  width: 100%;
  height: 3px;
  background-color: #a99254;
  visibility: hidden;
}

.dropdown-images img {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.dropdown-images h6 {
  font-family: Exo, sans-serif;
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: white;
}

.dropdown-images:hover {
  background-color: #1b1b1b;
  cursor: pointer;
}

.dropdown-images:hover .hover-line {
  visibility: visible;
}

.products-menu {
  width: 550%;
  visibility: hidden;
}

@media screen and (max-width: 629px) {
  .products-menu {
    height: 520px;
  }
  .dropdown-images {
    pointer-events: none;
  }
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: #202020;
}

.navbar-inverse {
  background-image: none;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-image: none;
}

.navbar-inverse {
  border-color: #003300;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.navbar-inverse .navbar-brand:hover {
  color: #ac9455;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
}

.navbar-inverse .navbar-nav>.li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  color: #ac9455;
}

.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {}

.dropdown-menu>li>a {
  color: #ffffff;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  color: #ac9455;
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
  border-top-color: #ffffff;
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
  border-top-color: #ffffff;
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
  border-bottom-color: #ffffff;
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
  border-bottom-color: #ffffff;
}

.slide-in-bottom {
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

a:hover {
  cursor: pointer;
}

#gotop {
  position: fixed;
  bottom: 10px;
  right: 13px;
  z-index: 10000;
}

#gotop img {
  border-radius: 15px;
}

#gotop:hover {
  cursor: pointer;
}

.free_nav {
  background-color: #ac9455;
  border: none;
  color: white;
  text-align: center;
  font-weight: 500;
  transition: 0.3s;
}

.free_nav:hover {
  background-color: #7e6c3e;
  color: white;
}

.slide-top-top {
  animation: slide-top-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-top-top {
  0% {
    transform: translateY(100px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-out-bottom {
  animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes slide-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 97%;
  }
}

@media (max-width: 1057px) {
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    margin-top: 33px;
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
  .products-menu {
    height: 350px;
  }
}

@media screen and (max-width: 629px) {
  .products-menu {
    height: 520px;
  }
  .dropdown-images {
    pointer-events: none;
  }
}

.free_nav:hover a {
  color: white;
}

.li:hover {
  color: #a99254;
}